.title {
  font-size: 24pt;
  font-family: fantasy, sans-serif;
}

.section-header {
  font-size: 18pt;
  font-family: fantasy, sans-serif;
}

.instructions {
  font-size: 14pt;
  font-family: serif;
}

.intro {
  font-size: 14pt;
  font-family: cursive, serif;
}

.note1 {
  font-size: 14pt;
  font-style: italic;
}
